body {
  margin: 0;
  font-family: "SF Pro Text Regular", "-apple-system", "BlinkMacSystemFont", serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  max-width: 1024px;
  margin: 0 auto;
}